* {
  padding: 0;
}

.carousel-inner {
  height: auto;
  padding-bottom: 10px;
}

.content {
  background-color: white;
  height: auto;
}

#content__books {
 background-color: rgb(249, 246, 242);
}

#content__books__heading {
  margin-top:0;
  background-color:rgb(241, 198, 117) ;
  height: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}


.nav-item {
  text-decoration: none;
  display: block;
} 

.nav-item:hover {
  background-color: grey;
}


/*food review*/

.food-grid {
  display: grid;
  background-color: rgb(249, 246, 242);
  padding-top:30px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
  margin-top: -25px;
}


.food-card {
  --scale: 0.8;
  cursor: pointer;
}


.food-card .card-head {
  position: relative;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}


.food-card:hover .card-img { 
  transform: scale(1.1); 
}


.food-card .card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
}


.food-card:hover .card-overlay {
   opacity: 1;
 }


.food-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
}


.food-card:hover .card-title {
   color: black;
 }


.food-card .card-info {
  display: flex;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
}


/*footer*/

.content__footer {
  background-color: rgb(241, 198, 117);
}


.carousel-inner-blog {
  height: auto;
  padding-bottom: 10px;
}


.carousel-control-prev {
  float: left;
  margin-top: 70px;
}


#content__foods__blog__heading {
  background-color: black;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -10px;
}


.image-blog {
  height: auto;
  width: auto;
  margin-top: -350px;
  margin-left: 50px;
  display: block;
}


.paragraf {
  background-color: rgb(179, 179, 252);
  justify-content:center;
  text-align:center;
  margin-right: 70px;
  padding: 40px;
  margin-left: 900px;
  justify-content: center;
  margin-top: 200px;
  display: block;
}


.container {
	position: relative;
	width:1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}


.container .card {
	width:308px;
	position: relative;
	height: 400px;
	background: #f0f0f0;
	margin:30px 10px;
	padding: 20px 15px;
	display:flex;
	flex-direction: column;
	box-shadow: 0.5px 10px #e6e6e6;
	transition:0.3s ease-in-out;
}


.container .card .imgBx {
	position: relative;
	width:260px;
	height: 260px;
	top: -60px;
	left:20px;
	box-shadow: 0 5px 20px rbga (0,0,0,1.2);
}


.container .card .imgBx img {
	max-width: 100%;
	border-radius: 10px;
}


.imgBx:hover img {
	transform: scale(1.1);
}


.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:2rem;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}


.gallery .gallery-container .box {
  height: 40rem;
  position: relative;
  overflow: hidden;
}


.gallery .gallery-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.gallery .gallery-container .box .icon {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0; left:0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: var(--dark-bg);
}


.gallery .gallery-container .box .icon i {
  font-size: 6rem;
  color:var(--white);
}


.gallery .gallery-container .box:hover .icon {
  display: flex;
}


.heading {
  background-color: black;
  padding-top: 20px;
  padding-bottom:20px ;
  color: white;
  text-align: center;
}