*{
   padding: 0;
   
}

.carousel-inner {
  height: auto;
  padding-bottom: 10px;
}

.content{
  background-color: white;
  height: auto;

}

#content__foods {
background-color:  rgb(241, 198, 117);
}


#content__foods__heading {
background-color: rgb(241, 198, 117) ;
height: auto;
margin-top: -20px;
padding-top: 20px;
padding-bottom: 20px;
justify-content: center;
display: flex;
align-items: center;
}


.nav-item{
  text-decoration: none;
  display: block;
  
} 



/*book review*/

.more-foods-grid {
  display: grid;
  background-color: black;
  padding-top:30px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
  margin-top: -25px;
}

.more-foods-card {
  --scale: 0.8;
  cursor: pointer;
  height: auto;
  background-color: black;
}


.more-foods-card .card-head {
  position: relative;
  height: auto;
  border-radius: 15px;
 padding-bottom: 40px;
  overflow: hidden;
 
 
}


.foods-card .card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  
}

.foods-card:hover .card-overlay {
   opacity: 1; 
  }



.foods-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
 
}

.card-info{
  color: rgb(241, 198, 117);
}

.card-body{
  color: rgb(241, 198, 117);
}

.foods-card .card-info {
  display: flex;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
  
}






/*footer*/

.content__footer {

  background-color: rgb(241, 198, 117);
 
}


/*img*/

#content__foods__cards{
  background-color: white;
  padding-top: 50px;
  display:flex;
  flex-direction:row;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  flex-wrap: wrap;
  
}

.text-uppercase{
  margin-top: 30px;
}

/*other books*/

.more-foods-grid {
  display: grid;
  background-color: white;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
  margin-top: -25px;
  
}

.more-foods-card {
  --scale: 0.8;
  cursor: pointer;
}


.section-heading {
  margin-top:0;
background-color:rgb(241, 198, 117) ;
height: -20px;
padding-top: 20px;
padding-bottom: 40px;
justify-content: center;
display: flex;
align-items: center;
}

.more-foods-card .card-head {
  position: relative;
  height: 200px;
  border-radius: 0px;
  margin-bottom: 0;
  overflow: hidden;
}

.more-foods-card:hover .card-img { 
  transform: scale(1.1); 
}

.more-foods-card .card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  backdrop-filter: blur(5px);
}

.more-foods-card:hover .card-overlay { 
  opacity: 1;
 }



.more-foods-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
}

.more-foods-card:hover .card-title { 
  color: var(--light-azure); 
}

.more-foods-card .card-info {
  display: flex;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
}

.more-foods-card .genre { 
  margin-right: 8px; 
}
 







